@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-gradient{
    background: linear-gradient(274.96deg, rgba(203, 232, 251, 0.55) 28.85%, rgba(253, 223, 209, 0.4125) 68.42%);
}

::-webkit-scrollbar {
    display: none!important;
    width: 0!important;
    height: 0!important;
}

*::-webkit-scrollbar {
    display: none!important;
    width: 0!important;
    height: 0!important;
}

*:not(input, textarea){
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

